.layoutBody {
  height: 100vh;
}

.helpSection {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #333333;
}
.helpSection > span {
  padding-left: 20px;
  cursor: pointer;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
}
.tabs > span {
  padding: 0px 15px;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #333333;
  font-size: 25px;
  padding-bottom: 5px;
}
.icons > svg {
  padding-left: 30px;
  cursor: pointer;
}

.infoSection {
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  font-size: 14px;
  height: 30px;
  font-weight: 500;
}
.infoSection > svg {
  font-size: 20px;
  padding: 0px 20px;
}

.contentDisplay {
  height: calc(100vh - 120px);
  justify-content: center;
  padding: 30px;
  overflow: auto;
}
.contentDisplay > div {
  border: 1px solid #c1c1c1;
  border-radius: 20px;
  height: fit-content;
}
